body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("assets/images/puzzel2.jpg");
    background-size: cover;
}

#container {
    margin-top: 8%;
}

#puzzleContainer,
#lists li {
    background: #000;
    color: cornsilk;
}

#puzzleContainer {
    opacity: 0.85;
}

.react-countdown-clock {
    margin-top: 40%;
}

.harder-game {
    width: 18%;
}

ul#lists {
    flex-direction: column;
}

#lists li {
    font-size: 3em;
    padding: 3% 3%;
    box-sizing: content-box;
    border: 1px solid #fff;
    cursor: pointer;
    text-align: center;
}

.list-group-item:first-child {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0 !important;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0 !important;
}

#resultMessage {
    font-size: 1.5em;
}